{% extends 'sitevisitor/site_base.html' %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}

<style>
  .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh; /* Full height for vertical centering */
  }
  table {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-collapse: separate;
      border-spacing: 15px;
      position: relative;
        top: 10%;
        left: 30%;
  }
  h2 {
      text-align: center;
  }
</style>

<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        <table class="forgot-password-table" width="500px">
            <tr>
                <td colspan="3"><h2>Forgot Password</h2></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td colspan="3">
                    <a href="{% url 'sitevisitor:reset_password' %}">Reset Password</a>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
