{% extends 'sitevisitor/site_base.html' %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}

<style>
  .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh; /* Full height for vertical centering */
  }
  table {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-collapse: separate;
      border-spacing: 15px;
      position: relative;
        top: 50%;
        left: 30%;
  }
  h2 {
      text-align: center;
  }
</style>

<div class="form-container">
    <form method="POST" action="{% url 'sitevisitor:otp' %}">
        {% csrf_token %}
        <table class="otp table">
            <tr>
                <td colspan="3"><h2>Enter the OTP received in your inbox</h2></td>
            </tr>
            <tr>
                <td><label for="otp">OTP:</label><td>
                <td><input type="otp" id="otp" name="otp" required></td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Reset Password">
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
