{% extends 'userpanel/user_base.html' %}
{% block title %}
Famous Tourist Spots
{% endblock %}
{% block content %}


<style>
.form-container{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:50px;
  margin: auto;
}
</style>

<div class='form-container'>


    </form>
      <form method="post" class="m-3" enctype="multipart/form-data">
        <h1>Login</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class = "btn btn-primary">Login</button>
      
      </form>
  </div>
{% endblock %}