{% extends 'userpanel/user_base.html' %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}


  
<style>
  .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh; /* Full height for vertical centering */
  }
  table {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-collapse: separate;
      border-spacing: 15px;
  }
  h2 {
      text-align: center;
  }
</style>

<div class="form-container">
    <form method="POST" action="{% url 'sitevisitor:otp' %}">
        {% csrf_token %}
        <table class="forgot-password-table" width="500px">
            <tr>
                <td colspan="3"><h2>Reset Password</h2></td>
            </tr>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" id="email" name="email" required></td>
            </tr>
            <tr>
                <td><label for="password1">Password:</label></td>
                <td><input type="password" id="password1" name="password1" required></td>
            </tr>
            <tr>
                <td><label for="password2">Confirm Password:</label></td>
                <td><input type="password" id="password2" name="password2" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-primary" type="submit" value="Reset" >
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
