{% extends 'adminpanel/admin_base.html' %}
{% block title %}
Famous Tourist Spots| List
{% endblock %}
{% block content %}

<div class="table">
<table class="table table-bordered">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Last Updated At</th>
      <th scope="col">Status</th>
      <th colspan="2" style="align-items: center;">Action</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
  {% for blog in blog %}
    <tr>
      <td>{{ blog.title }}</td>
      <td>{{ blog.author }}</td>
      <td>{{ blog.updated_at }}</td>
      <td>{{ blog.status }}</td>
      <td><a href="{% url 'adminpanel:blog_view' blog.id %}" class="btn btn-primary">View Blog</a></td>
      <td>
        <form method="POST" action="{% url 'adminpanel:hide_blog' blog.id %}">
          {% csrf_token %}
          {% if blog.status == 'hidden' %} 
          <button type="submit" class="btn btn-danger">Unhide</button>
        {% else %}
          <button type="submit" class="btn btn-dark">Hide</button>
        {% endif %}
      </form>
      </td>
      <td><a href="{% url 'adminpanel:view_comments' blog.id %}" class="btn btn-primary">View Comments</a></td>
    </tr>
  {% empty %}
    <tr>
      <td colspan="4" class="text-center">No users found</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}