{% extends 'adminpanel/admin_base.html' %}
{% block title %}
Famous Tourist Spots
{% endblock %}
{% block content %}

{% for blog in blog %}
<div class="card mb-3">
  <img src="{{ blog.blog_image.url }}" class="card-img-top" alt="{{ blog.title }}" width="100px" height=" 500px">
  <div class="card-body">
    <h1 class="card-title">{{ blog.title }}</h1>
    <p class="card-text">{{ blog.content }}</p>

    <p class="card-text"><small class="text-body-secondary">Author : {{ blog.author}} <br> {{ blog.updated_at }}</small></p>
    <p>
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        Comments
      </button>
    </p>
    <div style="min-height: 120px;">
      <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="card card-body" style="width: 300px ;">
          {% for comment in comments %}
            {% if comment.blog == blog %}
              <h6 style="color: rgb(17, 17, 17); font-weight:lighter;">{{ comment.user }}</h6>
              <p style="color: rgb(12, 12, 12); font-weight: bold;">{{ comment.comment }}</p>
              <p> {{ comment.updated_at }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}




