{% extends 'adminpanel/admin_base.html' %}
{% block title %}
Famous Tourist Spots| List
{% endblock %}
{% block content %}

<h1>Admin Dashboard</h1>
<div class="table 1">
<table class="table table-bordered">
    <tr>
      <th colspan="3" style="text-align: center;">Count of Blogs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Published</td>
      <td>Hidden</td>
      <td>Draft</td>
    </tr>
    <tr>
      <td>{{ count_published }}</td>
      <td>{{ count_hidden }}</td>
      <td>{{ count_draft }}</td>
    </tr>
</table>
</div>
<div class="table 2">
  <table class="table table-bordered">
      <tr>
        <th colspan="3" style="text-align: center;">Count of Users</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Active</td>
        <td>Admins</td>
        <td>Inactive</td>
      </tr>
      <tr>
        <td>{{ count_active }}</td>
        <td>{{ count_admin }}</td>
        <td>{{ count_inactive }}</td>
      </tr>
  </table>
  </div>
{% endblock %}